{% extends 'base.html.twig' %}

{% block body %}
  <section class="button-area">
    <div class="container text-center">
      <div class="button-group-area mt-40">
        <a href="#nombrescalculs" class="genric-btn primary circle">
          Nombres et calculs
        </a>
        <a href="#grandeursmesures" class="genric-btn primary circle">
          Grandeurs et mesures
        </a>
        <a href="#espaceetgeometrie" class="genric-btn primary circle">
          Espaces et géometrie
        </a>
      </div>
    </div>
  </section>

  <div id="nombrescalculs" class="section-top-border">
    <h3 class="mb-20">
      Nombres et calculs
    </h3>
    <div class="row">
      <div class="col-md-4 mt-sm-30">
        <h5 class="mb-20">
          Compter jusqu'a 20
        </h5>
        <div class="">
          <ol class="ordered-list">
            <li><a href="{{ path('compterdeux') }}"><span>Compter par 2</span></a></li>
            <li><a href="{{ path('additiontrou') }}"><span>Addition par Trou jusqu'a 10</span></a></li>
          </ol>
        </div>
      </div>

      <div class="col-md-4 mt-sm-30">
        <h5 class="mb-20">
          Comparer des nombres et des collections
        </h5>
        <div class="">
          <ol class="ordered-list">
            <li><a href="{{ path('comparertrois') }}"><span>Comparer 3 nombres</span></a></li>
            <li><a href="{{ path('moinsplus') }}"><span>Moins ou Plus</span></a></li>
          </ol>
        </div>
      </div>

      <div class="col-md-4 mt-sm-30">
        <h5 class="mb-20">
          Soustraction
        </h5>
        <div class="">
          <ol class="ordered-list">
            <li><a href="{{ path('soustraction') }}"><span>Soustraction à trou</span></a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div id="grandeursmesures" class="section-top-border">
    <h3 class="mb-20">
      Grandeurs et mesures
    </h3>
    <div class="row">
      <div class="col-md-4 mt-sm-30">
        <h5 class="mb-20">
          Longueurs
        </h5>
        <div class="">
          <ol class="ordered-list">
            <li><a href="#"><span>Comparer des longueurs avec une règle</span></a></li>
          </ol>
        </div>
      </div>

      <div class="col-md-4 mt-sm-30">
        <h5 class="mb-20">
          Durées et dates
        </h5>
        <div class="">
          <ol class="ordered-list">
            <li><a href="#"><span>Nombre de jours par semaine</span></a></li>
            <li><a href="#"><span>Nombre de mois par année</span></a></li>
          </ol>
        </div>
      </div>

      <div class="col-md-4 mt-sm-30">
        <h5 class="mb-20">
          Température
        </h5>
        <div class="">
          <ol class="ordered-list">
            <li><a href="#"><span>Lire la température</span></a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div id="espaceetgeometrie" class="section-top-border">
    <h3 class="mb-20">
      Espace et géométrie
    </h3>
    <div class="row">
      <div class="col-md-4 mt-sm-30">
        <h5 class="mb-20">
          Les Solides
        </h5>
        <div class="">
          <ol class="ordered-list">
            <li><a href="#"><span>Fta Keys</span></a></li>
            <li><a href="#"><span>Fta Keys</span></a></li>
          </ol>
        </div>
      </div>
      <div class="col-md-4 mt-sm-30">
        <h5 class="mb-20">
          Les Figures planes
        </h5>
        <div class="">
          <ol class="ordered-list">
            <li><a href="#"><span>Fta Keys</span></a></li>
            <li><a href="#"><span>Fta Keys</span></a></li>
          </ol>
        </div>
      </div>

      <div class="col-md-4 mt-sm-30">
        <h5 class="mb-20">
          Les Figures planes
        </h5>
        <div class="">
          <ol class="ordered-list">
            <li><a href="#"><span>Fta Keys</span></a></li>
            <li><a href="#"><span>Fta Keys</span></a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
